.nav-item {
	border: solid 1px var(--border);
	border-radius: 5px;
	padding: 7px 0 9px 0;
	margin-right: 5px;
	text-decoration: none;
	color: var(--text);
	line-height: 1;
	width: 70px;
	display: inline-block;
	text-align: center;
}

.nav-item.active, .nav-item:hover {
	border: solid 1px var(--selection);
	color: var(--links);
}

.pagination {
	display: flex;
	justify-content: flex-end;
}

.pagination>* {
	padding: 0 5px;
}

.posts-topic-div {
	--auto-grid-min-size: 16rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
	gap: 1em;

}

.posts-topic-div>div {
	padding: 5px;
	border: solid 1px var(--border);
	border-radius: 5px;
}