{% extends "base_generic.html" %}
{% block content %}
    <!--Contact form-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script type="text/javascript">
        (function() {
            emailjs.init('user_hLj5c2BmV6zODQQTutlQs');
        })();
    </script>
    <script type="text/javascript">
        window.onload = function() {
            document.getElementById('contact-form').addEventListener('submit', function(event) {
                event.preventDefault();
                this.contact_number.value = Math.random() * 100000 | 0;
                emailjs.sendForm('service_n8qnpyh', 'template_xwi18ll', this, 'user_hLj5c2BmV6zODQQTutlQs')
                    .then(function() {
						document.location.href="/";
                    }, function(error) {
                        console.log('FAILED...', error);
                    });
            });
        }
    </script>
    <h1>Contact</h1>
    <p>
        Please write your name, email address and a message below if you have any questions. I will contact you as soon as possible.
    </p>
    <form id="contact-form" style="display:grid; ">
        <label>Name</label>
        <input type="text" name="name">
        <label>Subject</label>
        <input type="text" name="subject">
        <label>Email</label>
        <input type="email" name="email">
        <label>Message</label>
        <textarea name="message"></textarea>
        <input type="submit" value="Send">
    </form>
{% endblock %}
