{% extends "base_generic.html" %}
{% load markdown_extras %}
{% block content %}
    {% for post in object_list %}
        <div>
            <h2>{{ post.title }}</h2>
            {% for topic in post.topic.all %}<li>{{ topic.name }}</li>{% endfor %}
            {{ post.content | markdown | safe | truncatewords:50  }}
            <a href="{{ post.get_absolute_url }}">Read more...</a>
        </div>
    {% empty %}
        <h2>No posts yet</h2>
        <p>
            Come back later
        </p>
    {% endfor %}
{% endblock %}
